@model Alumno

@{
    ViewData["Title"] = "Creacion de Alumno";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
    </div>
    <div>
        <label asp-for="CursoId"></label>
        <!-- @Html.DropDownList(
            "CursoId", 
            @ViewBag.Cursos, 
            "Seleccione...", 
            new {@class = "form-control"}
        ) -->
        <select asp-for="CursoId"class ="form-control" asp-items="ViewBag.Cursos"></select>
    </div>
    <input type="submit" />
</form>

<p><i>@ViewBag.Fecha</i></p>