@model List<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>

@foreach (var asignatura in Model)
{
    <partial name="_AsignaturaSimple" model="asignatura"></partial>
}